/* src/App.css */

.game-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-color: #333; /* Темный фон для контраста */
}

.controls {
  position: absolute;
  top: 10px;
  left: 10px;
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 5px;
  z-index: 1001; /* Поверх Canvas */
}

.obstacle-images {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.obstacle-images img {
  margin-right: 5px;
}

.collision-alert {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: red;
  color: white;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 5px;
  z-index: 1000;
}
