/*body {*/
/*  margin: 0;*/
/*  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',*/
/*    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',*/
/*    sans-serif;*/
/*  -webkit-font-smoothing: antialiased;*/
/*  -moz-osx-font-smoothing: grayscale;*/
/*}*/

/*code {*/
/*  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',*/
/*    monospace;*/
/*}*/


/* src/index.css */

/* Устанавливаем высоту и ширину для html и body, чтобы они занимали всё окно браузера */
html, body {
  height: 100%;
  margin: 0; /* Убираем стандартные отступы */
  overflow: hidden; /* Предотвращает появление полос прокрутки */
}

/* Ссылка на корневой элемент React приложения */
#root {
  height: 100%; /* Занимает всю высоту окна браузера */
}
